/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* Fonts */
/**
 * Usage
 * ----------------------------q
 * font-family: 'MetricHPE';
   font-weight: 600;
   font-style: normal;
 * ----------------------------
 */
* {

cursor: pointer;

}


@font-face {
  font-family: 'Oxygen';
  src: url('fonts/Oxygen-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oxygen';
  src: url('fonts/Oxygen-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/* Creative */
.main-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #000000;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}
/* BG image wrapper. */

.bg_border {
    position: absolute;
    border: 5px solid white;
    box-sizing: border-box;
    border-style: solid;
    width: 298px;
    height: 248px;
    z-index: 2;
}
#bg_container {
    position: absolute;
    width: 300px;
    height: 250px;

}
.bg {
    position: absolute;
    width: 300px;
    height: 250px;

}

img {

pointer-events: none;

}

#carousel-frame {
opacity: 0;
visibility: hidden;
position: absolute;
top: 0;
left: 0;
width: 300px;
height: 250px;

}

#carousel_bg {
    position: absolute;
    width: 300px;
    height: 250px;

}
.bg {
    position: absolute;
    width: 300px;
    height: 250px;

}

#logo_container {

  position: absolute;
  width: 223px;
  height: 15px;
  margin: auto;
  left: 0;
  right: 0;
  top:25px;
  opacity: 0;
}

.logo {

width: 100%;
height: 100%;

}

#copy_container {

  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 56px;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

#copy-1 {
  position: relative;
  width: 200px;
  height: 70px;
  font-family: 'Oxygen';
  font-weight:400;
  font-size: 24px;
  color: #000;
  text-align: center;
  text-shadow: -3px 4px 11px rgba(0,0,0,0.85);
  line-height: 1.1;
  margin-bottom: 14px;
  left:0;
  right: 0;
  margin:auto ;
  margin-bottom: 9px;
}

#copy-2 {
  position: relative;
  width: 256px;
  height: 25px;
  font-family: 'Oxygen';
  font-weight:bold;
  font-size: 17px;
  color: #000;
  text-align: center;
  line-height: 1.1;
  left:0;
  right: 0;
  margin:auto ;
  padding-bottom: 2px;
}



.button-container{

position: absolute;
display: flex;
flex-wrap: wrap;
width: 270px;
height:80px;
align-content: center;
flex-direction: row;
margin: auto;
left: 0;
right: 0;
bottom: 15px;
justify-content: center;
align-items: center;
gap:10px;
}


.button {
width: 111px;
height: 34px;
min-height: 34px;
font-family: 'Oxygen';
font-weight:400;
font-size: 14px;
background-color: #FFFFFF;
color: #000000;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
align-content: center;
border-radius: 9px;
/* padding: 10px; */
white-space: pre;
opacity: 0;
visibility: hidden;
transform:translateY(20px);
}

.button span {
width: 102px;
height: 34px;
pointer-events: none;
}



/* ***************************** */
/* CAROUSEL STYLE CONFIG */
/* ADDED FOR CAROUSEL STYLE */

#nmpiCarousel {
	position:absolute;
}

.nmpiArrow {
	background-color:transparent;
	position:absolute;
  z-index: 999;
}

.nmpiArrow.verticalScroll {
  width:100%;
}

.nmpiArrow.horizontalScroll {
  height:36px;
}

#nmpiArrowBack.verticalScroll {

  top:0;
}

#nmpiArrowBack.horizontalScroll {
  left:-8px;
  bottom:54px;
  cursor: pointer;
}

#nmpiArrowForward.verticalScroll {
  bottom:0;
}

#nmpiArrowForward.horizontalScroll {
  right:-4px;
  bottom: 54px;
  cursor: pointer;
}

#nmpiArrowBack.verticalScroll img {
  transform:rotate(90deg);
}

#nmpiArrowBack.horizontalScroll img {
  transform:none;
}

#nmpiArrowForward.verticalScroll img {
  transform:rotate(-90deg);
}

#nmpiArrowForward.horizontalScroll img {
  /* transform:scaleX(-1); */
    transform:rotate(-180deg);
}

.nmpiArrowImage {
	cursor:pointer;
	height:100%;
	position:relative;
	width:100%;
}

.nmpiArrowImage img {
	bottom:0;
	left:0;
	position:absolute;
	margin:auto;
	max-width:100%;
	max-height:100%;
	right:0;
	top:0;
}

.nmpiArrowImage.verticalScroll img {
  height:100%;
  width:auto;
}

.nmpiArrowImage.horizontalScroll img {

  height:auto;
  width:100%;
}

#nmpiSlider {

	overflow:hidden;
	position:absolute;
}

#nmpiSlider.verticalScroll {

  width:100%;
}

#nmpiSlider.horizontalScroll {

  height:100%;
}

.nmpiProduct {
	background-color:transparent;
	cursor:pointer;
	position:absolute;
}

.nmpiProductPicture {

	background-color:transparent;
	position: absolute;
  transform: translateY(8px);
  left: 26px;
}

.nmpiProductPicture img {

	left:50%;
	position:absolute;
	max-height:100%;
	max-width:100%;
	top:50%;
  transform:translate(-50%,-50%);
}

.nmpiProductName {

	background-color:transparent;
  color:#000;
	position:absolute;
	overflow:hidden;
	text-align:center;
  font-family: 'Oxygen';
  font-weight: bold;
  /* font-size: 15px; */
}

.nmpiProductName span {
	display:block;
	max-height:100%;
	max-width:100%;

}

.nmpiProductPrice {

	background-color:transparent;
	color:#000;
	position:absolute;
	overflow:hidden;
	text-align:left;
  font-family: 'open-sans';
  /* font-size: 15px; */
}

.nmpiProductPriceSpan.sale {
  color:#0000006b;
  text-decoration:line-through;
  opacity: 0.8;
}

.nmpiSalePriceSpan {
  color:red;
}

.noTransition {
	transition: none !important;
  z-index: 0;
}

/***********/
/* 300x250 */
/***********/

#nmpiBanner.size300x250 {
	height:300px;
	width:153px;
}


#nmpiCarousel.size300x250 {
	height:153px;
  transform:translate(-50%, -50%);
	width:300px;
  top: 170px;
  left: 50%;
}

.nmpiProductPicture.size300x250 {
	height:127px;
	width:127px;
  pointer-events: none;
}

.nmpiProductPicture.size300x250 img {
  pointer-events: none;
}

.nmpiProductName.size300x250 {
  font-size: 15px;
  font-family: 'Oxygen';
  font-weight:bold;
  color: #000;
  width: 107px;
  height: 68px;
  bottom: 77px;
  text-align: left;
  pointer-events: none;
  right: 29px;
}

.nmpiProductName.size300x250 span {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  pointer-events: none;
  width: 130px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.1;
  padding: 4px 0px;
}

.nmpiProductPrice.size300x250 {
	  height: 20px;
    left: 165px;
    bottom: 54px;
    width: 130px;
    font-size: 13px;
    font-family: 'Oxygen';
    font-weight:bold;
    color: #000;
    text-align: left;
    pointer-events: none;

}

.nmpiProductPrice.size300x250 span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
}


.nmpiProductButton.size300x250{

  position: absolute;
  left: 166px;
  bottom: 19px;
  font-family: 'Oxygen';
  font-weight:bold;
  color: #000;
  font-size: 12px;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 9px;
  z-index: 999;

}

.nmpiProductButton.size300x250 span{
margin: auto;
left: 0;right:0;top:0;bottom:0;
padding: 8px 12px;
pointer-events: none;
}

/* TRANSPARENT ELEMENTS */

#background_exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    cursor: pointer;
}

#cta_exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    opacity: 0;
    cursor: pointer;
}
